.slider-container {
	max-width: 1200px;
	width: 100%;
	background-color: var(--main-color);
	padding: 40px;
}
.card {
	border-radius: 20px;
	background-color: #fff;
	/* width: 320px; */
}
.image-content,
.card-content {
	/* padding: 10px 14px; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
.image-content {
	/* row-gap: 5px; */
}


.card-content {
	padding: 20px;
}
.card-image {
	position: relative;
	/* height: 320px;
	width: 320px; */

}
.card-image .card-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.slide-content {
	margin: 0 40px;
}
 .card-title {
	display: -webkit-box;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: var(--main-color);
}
.card-description {
	display: -webkit-box;
	-webkit-line-clamp: 4; 
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.card-content a {
	text-decoration: none;
	color: var(--grey-color);
	display: flex;
	flex-direction: row;	
}
.card-content:hover a {
	color: var(--main-color);
}